@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Simple Currency Exchange Calculator</h1>
        </div>
    </div>
    

@*    <div>
    @foreach (var currency in Model.CurrenciesList)
    {
        <p>@currency.Name - @currency.Code</p>
    }
    </div>*@
    <div class="row">
        <div class="col-12">

            @using (Html.BeginForm("Calculate", "Home", Model.ExchangeForm, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-12">
                        @Html.LabelFor(model => model.ExchangeForm.ExchangeFromCode, "Convert From")
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.DropDownListFor(model=> model.ExchangeForm.ExchangeFromCode, @Model.MakeExchangeFromSelectList(), new { @class = "form-control" })
                     </div>
                    <div class="col-12 col-md-6">
                        @Html.EditorFor(model => model.ExchangeForm.FromValue, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Html.LabelFor(model => model.ExchangeForm.ExchangeToCode, "Convert To" )
                    </div>
                    <div class="col-12">
                        @Html.DropDownListFor(model=> model.ExchangeForm.ExchangeToCode, @Model.MakeExchangeToSelectList(), new { @class = "form-control" })
                    </div>
                </div>
                
                <button type="submit">Calculate</button> 

                @if (Model.ExchangeResult != null){
                    <div class="border p-2">
                        @if (Model.ExchangeResult.To.Value != null){
                            <p>
                                Exchange Value: @Model.ExchangeResult.To.Value @Model.ExchangeResult.To.CurrencyCode
                            </p>
                        }
                        else {
                            <p>
                                @Model.ExchangeResult.Notes
                            </p>
                        }
                    </div>
                }
            }
        </div>

    </div>

</div>
