@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="display-4">Simple Currency Exchange Calculator</h1>
    </div>
</div>
    
<div class="row">
    <div class="col-12">

        @using (Html.BeginForm("Calculate", "Home", Model.ExchangeForm, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-12 mb-2">
                    @Html.LabelFor(model => model.ExchangeForm.ExchangeFromCode, "Convert From")
                </div>
                <div class="col-12 my-2">
                    @Html.DropDownListFor(model=> model.ExchangeForm.ExchangeFromCode, @Model.MakeExchangeFromSelectList(), new { @class = "form-control mb-1" })
                    @Html.TextBoxFor(model => model.ExchangeForm.FromValue, htmlAttributes: new { type = "number", min = "0", step = "0.01", value = "0", @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    @Html.LabelFor(model => model.ExchangeForm.ExchangeToCode, "Convert To" )
                </div>
                <div class="col-12 my-2">
                    @Html.DropDownListFor(model=> model.ExchangeForm.ExchangeToCode, @Model.MakeExchangeToSelectList(), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <button type="submit">Calculate</button> 
                </div>
            </div>

            @if (Model.ExchangeResult != null){
                <div class="border p-2 bg-light">
                    @if (Model.ExchangeResult.To.Value != null){
                        <strong>Exchange Value: @Model.ExchangeResult.To.Value @Model.ExchangeResult.To.CurrencyCode</strong>
                    }
                    else {
                        <div class="text-warning">
                            @Model.ExchangeResult.Notes
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
