@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
    @foreach (var currency in Model.CurrenciesList)
    {
        <p>@currency.Name - @currency.Code</p>
    }
    </div>

    @using (Html.BeginForm("Calculate", "Home",  FormMethod.Post ))
    {
        @Html.AntiForgeryToken()

        @Html.DropDownListFor(model=> model.ExchangeFromCode, @Model.MakeExchangeFromSelectList())
        @Html.EditorFor(model => model.FromValue)
        @Html.DropDownListFor(model=> model.ExchangeToCode, @Model.MakeExchangeToSelectList())
        
        <button type="submit">Calculate</button> 

        <div>
            Exchange Value: @Model.ToValue
        </div>
    }
</div>
