@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
    @foreach (var currency in Model.Currencies)
    {
        <p>@currency.Name - @currency.Code</p>
    }
    </div>

    @using (Html.BeginForm("Calculate", "Home",  FormMethod.Post ))
    {
        @Html.AntiForgeryToken()

        @Html.TextBoxFor(model => model.ExchangeFromCode)
        @Html.EditorFor(model => model.FromValue)
        @Html.TextBoxFor(model => model.ExchangeToCode)
        
        <button type="submit">Calculate</button> 

        <div>
            Exchange Value: @Model.ToValue
        </div>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
